header {
	background-image: url(https://media.cntraveler.com/photos/5eb18e42fc043ed5d9779733/16:9/w_2580,c_limit/BlackForest-Germany-GettyImages-147180370.jpg);
	text-align: center;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	padding: 150px 50px;
	justify-content: center;
	align-items: center;
	display: flex;
}

.intro {
	background-color: yellowgreen;
	padding: 60px;
}

.content-2 {
	padding: 40px;
	background-color: black;
}

.item-1, .item-2, .item-3 {
background-image: url(https://www.apple.com/v/apple-events/home/s/images/september-2021/meta/og__fodnljjkwl6y.jpg?202109101649);
background-size: cover;
text-align: center;
padding: 70px;	
}

.content-3 {
	text-align: center;
	padding: 50PX;
}
.contact {
	background-color: yellowgreen;
	padding: 100px;
	color: white;
	text-align: center;
}

.copyright {
	text-align: center;
	padding: 30px;
}

.row {
	margin-left: auto;
	margin-right: auto;
}
